<app-empcount 
[all]="getTotalEmployeesCount()"
[male]="getMaleEmployeesCount()"
[female]="getFemaleEmployeesCount()"
(countRadioButtonSelectionChanged)="onEmployeeRadioChange($event)"></app-empcount>
<br><br>
<table>

    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>EmployeeName</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Address</th>
          
            <th>Age</th>
        </tr>
    </thead>

    <tbody>
        <ng-container *ngFor="let emp of employees;trackBy:trackByEmpCode">
        <tr *ngIf="selectedRadioButtonValue==emp.gender || selectedRadioButtonValue=='All'">
            <td>{{emp.empid}}</td>
            <td>{{emp.empname|title:emp.gender}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.salary|currency:'INR'}}</td>
           
            <td [ngSwitch]="emp.department">
                <span *ngSwitchCase="'1'">HR</span>
                <span *ngSwitchCase="'2'">IT</span>
                <span *ngSwitchCase="''">security</span>
                <span *ngSwitchDefault>NA</span>
            </td>
            <td>{{emp.address}}</td>
           
            <td>{{emp.dob|age}}</td>
        </tr>
    </ng-container>
    </tbody>
</table>
<br><br>
<button (click)="getLatestData()"> Refresh </button>